option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Guardians_of_the_Coin_API.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Guardians_of_the_Coin_API.settings
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static